.layout {
  display: flex;
  min-height: 100vh;
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  flex: 1;
  border-left: 1px solid var(--separator-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginImage {
  width: 30%;
}

.logoHookah {
  color: coral;
}
.transparent-text {
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: #2e2f45;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 5px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
}
.text {
  font-family: 'Rubik One', sans-serif;
  font-size: 30px;
  display: table;
  background: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 20px auto;
  color: rgb(0, 0, 0);
  border-radius: 35px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
}

/* media*/

@media (max-width: 1200px) {
  .logo {
    flex: 0.7;
  }
  .content {
    flex: 0.3;
  }
  .loginImage {
    width: 25%;
  }
  .transparent-text {
    font-size: 40px;
  }
  .text {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .logo {
    flex: 0.5;
  }
  .content {
    flex: 0.5;
  }
  .loginImage {
    width: 20%;
  }
  .transparent-text {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .layout {
    display: flex;
    flex-direction: column;
  }
  .logo {
    flex: 0.5;
  }
  .content {
    flex: 0.5;
  }
  .loginImage {
    width: 55%;
  }
  .transparent-text {
    font-size: 20px;
  }
  .text {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .logo {
    flex: 0.2;
  }
  .content {
    flex: 0.8;
  }
  .loginImage {
    width: 40%;
  }
  .transparent-text {
    font-size: 15px;
  }
  .text {
    font-size: 15px;
  }
}
