.item {
  display: flex;
  gap: 20px;
  max-width: 600px;
  margin-bottom: 25px;
}
.image {
  width: 80px;
  height: 80px;
  background-size: cover;
  border-radius: 50%;
}

.actions {
  align-items: flex-start;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}
.description {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.name {
  color: var(--text-color);
  font-size: 18px;
}

.price {
  color: var(--primary-color);
}

.remove {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: none;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-size: 14px;
}
.remove:hover {
  background-color: var(--primary-color-hover);
}

/* Адаптивные стили */

@media (max-width: 768px) {
  .item {
    flex-direction: column; /* Изменяем направление на колонку для меньших экранов */
    align-items: center; /* Центрируем элементы */
    max-width: 100%; /* Убираем ограничение по ширине */
  }

  .image {
    width: 80px; /* Уменьшаем размер изображения */
    height: 80px;
  }

  .name {
    font-size: 20px; /* Уменьшаем размер шрифта */
  }

  .price {
    font-size: 20px; /* Уменьшаем размер шрифта */
  }

  .remove {
    width: 100px; /* Уменьшаем ширину кнопки */
    height: 40px; /* Уменьшаем высоту кнопки */
    font-size: 18px; /* Уменьшаем размер шрифта */
    color: black;
  }
}

@media (max-width: 480px) {
  .item {
    gap: 10px; /* Уменьшаем отступы между элементами */
  }

  .image {
    width: 80px; /* Уменьшаем размер изображения */
    height: 80px;
  }

  .name {
    font-size: 22px; /* Уменьшаем размер шрифта */
  }

  .price {
    font-size: 22px; /* Уменьшаем размер шрифта */
  }

  .remove {
    width: 100px; /* Уменьшаем ширину кнопки */
    height: 35px; /* Уменьшаем высоту кнопки */
    font-size: 14px; /* Уменьшаем размер шрифта */
    color: black;
  }
}
